# Database
DATABASE_URL=postgresql://postgres:postgres@db:5432/advertisements

# Токен
SECRET_KEY="xK9#mP2$vL5&nQ8@rT1!wE4%yU7*"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_HOURS=48

# PostgreSQL (для Докера)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=advertisements